<div class="box-form">
   <form action="" class="row g-3">
       <div class="col-md-6">
            <label for="exampleFormControlInput1" class="form-label">Nome</label>
            <input type="input" class="form-control" id="exampleFormControlInput1" placeholder="nome do produto">
        </div>
       <div class="col-md-6">
            <label for="exampleFormControlInput1" class="form-label">Modelo</label>
            <input type="input" class="form-control" id="exampleFormControlInput1" placeholder="modelo do produto">
        </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Categoria</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputZip" class="form-label">Valor</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-md-4">
            <label for="inputZip" class="form-label">Valor</label>
            <div style="display: flex;">
                <input type="text" class="form-control" id="inputZip">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
        </div>
    </form>
</div>