<div class="box-form">
    <h2>Formulário de Cadastro</h2>

    <form action="/add" method="POST">
        <label for="nome">Nome</label>
        <input type="text" name="nome" required>
        <label for="sobrenome">Sobrenome:</label>
        <input type="text" name="sobrenome" required>
        <label for="idade">Idade</label>
        <input type="text" name="idade" required>
        <label for="email">E-mail</label>
        <input type="email" name="email" required>
        <input type="submit" value="Cadastrar">
    </form>
</div>